body {
  background-image: linear-gradient(red, yellow);
}
button {
  background-color: LightGrey;
  width: 6em;
  height: 5em;
  margin-bottom: 10px;
}
#drum-machine {
  width: 500px;
  margin: auto
}
#rows {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px
}
h1, h2 {
  text-align: center;
}

h2 {
  color: yellow;
}

h3 {
  margin-left: 170px;
  margin-right: 170px;
}

#display {
  position: relative;
  border: solid blue 6px;
  width: 120px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: blue;
  border-radius: 50%;
  margin: 0 auto;
  align: center;
  margin-top: 12px;
  color: yellow
}

img {
  max-width: 800px;
  height: 300px;
}

#icon {
  display: block;
  margin: 15px;
  margin-top: 95px;
  align-items: left;
  color: black;
}

.block {
  display: flex;
  width: 500px;
  margin: auto;
  justify-content: center;
  align-items: center;
}
  
  